<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav class="navbar" th:fragment="navbar">

    <ul class="nav-left">

        <!-- ================= STUDENT ================= -->
        <li sec:authorize="hasAuthority('STUDENT')">
            <a th:href="@{/student/dashboard}">Dashboard</a>
        </li>

        <li sec:authorize="hasAuthority('STUDENT')">
            <a th:href="@{/student/profile}">Student Profile</a>
        </li>

        <li sec:authorize="hasAuthority('STUDENT')">
            <a th:href="@{/student/registration}">Registration</a>
        </li>

        <!-- Student Dropdown for Add-Drop Courses -->
        <li class="dropdown" sec:authorize="hasAuthority('STUDENT')">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                Course Adjustments
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" th:href="@{/student/add-drop}">
                        Add-Drop Course
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{/student/drop}">
                        Drop Course
                    </a>
                </li>
            </ul>
        </li>

        <li sec:authorize="hasAuthority('STUDENT')">
            <a th:href="@{/student/result}">Result</a>
        </li>

        <!-- ================= FACULTY ================= -->
        <li sec:authorize="hasAuthority('FACULTY')">
            <a th:href="@{/faculty/dashboard}">Dashboard</a>
        </li>

        <li sec:authorize="hasAuthority('FACULTY')">
            <a th:href="@{/faculty/courses}">Courses</a>
        </li>

        <!-- ================= ADMIN ================= -->
        <li sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/admin/dashboard}">Dashboard</a>
        </li>

        <li sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/admin/programs}">Programs</a>
        </li>

        <li sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/admin/academicyears}">Academic Years</a>
        </li>

        <li sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/admin/batches}">Batches</a>
        </li>

        <!-- Admin Dropdown for Semesters -->
        <li class="dropdown" sec:authorize="hasAuthority('ADMIN')">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                Semesters
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" th:href="@{/admin/semesters}">
                        Semesters
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{/admin/semesters/semestercourses}">
                        Semester Courses
                    </a>
                </li>
            </ul>
        </li>

        <!-- Admin Dropdown for Terms -->
        <li class="dropdown" sec:authorize="hasAuthority('ADMIN')">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                Terms
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" th:href="@{/admin/terms}">
                        Terms
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{/admin/term-courses}">
                        Term Courses
                    </a>
                </li>
            </ul>
        </li>

        <li sec:authorize="hasAuthority('ADMIN')">
            <a th:href="@{/admin/mastercourses}">Master Courses</a>
        </li>

        <!--===================== Rit ==========================-->
        <!-- <li class="dropdown" sec:authorize="hasAuthority('ADMIN')">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                Users
            </a>
            <ul class="dropdown-menu">
                <li class="dropend nested-dropdown">
                    <a href="#" class="dropdown-toggle dropdown-item">
                        Faculty Tasks
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{#}">Upload Grades</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Revise I-Grade</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Modify Grade</a></li>
                    </ul>
                </li>

                <li class="dropend nested-dropdown">
                    <a href="#" class="dropdown-toggle dropdown-item">
                        Add Users and Roles
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{#}">Faculty Import List</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Add Student Import List</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Manage Roles</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="dropdown" sec:authorize="hasAuthority('ADMIN')">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                Result
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" th:href="@{#}">
                        Compute Semester SPI
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{#}">
                        Result Status
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{#}">
                        Compute Final CPI
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{#}">
                        Approve Grade Modification
                    </a>
                </li>
            </ul>
        </li>

        <li class="dropdown" sec:authorize="hasAuthority('ADMIN')">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                Student Result
            </a>
            <ul class="dropdown-menu">
                <li class="dropend nested-dropdown">
                    <a href="#" class="dropdown-toggle dropdown-item">
                        Grade Card
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{#}">Semester Wise</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Student Wise</a></li>
                    </ul>
                </li>
                <li class="dropend nested-dropdown">
                    <a href="#" class="dropdown-toggle dropdown-item">
                        Grade Distribution
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{#}">All Courses</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Term Wise</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Semester Wise</a></li>
                    </ul>
                </li>
                <li class="dropend nested-dropdown">
                    <a href="#" class="dropdown-toggle dropdown-item">
                        Grade Status Of a Student
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{#}">Earned Credits</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Elective-Type</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{#}">
                        Toppers-List
                    </a>
                </li>
                <li class="dropend nested-dropdown">
                    <a href="#" class="dropdown-toggle dropdown-item">
                        Backlog
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{#}">Batchwise</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Coursewise</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="dropdown" sec:authorize="hasAuthority('ADMIN')">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                Degree Master
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" th:href="@{#}">
                        Edit Graduation Criteria
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{#}">
                        Add/Edit Batch Degree Criteria
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{#}">
                        Student Degree Criteria
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{#}">
                        Degree Criteria Report
                    </a>
                </li>
            </ul>
        </li> -->


        <!-- ================= Academic ADMIN ================= -->
        <li class="dropdown" sec:authorize="hasAuthority('Academic ADMIN')">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                Programs
            </a>
            <ul class="dropdown-menu">
                <li class="dropend nested-dropdown">
                    <a href="#" class="dropdown-toggle dropdown-item">
                        Course Master Maintenance
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{#}">Add/Edit/Delete/View</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Elective Types Maintenance</a></li>
                    </ul>
                </li>

                <li class="dropend nested-dropdown">
                    <a href="#" class="dropdown-toggle dropdown-item">
                        Schemes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{#}">Add/Edit/Delete/View</a></li>
                    </ul>
                </li>

                <li class="dropend nested-dropdown">
                    <a class="dropdown-item" th:href="@{#}">
                        Program Maintenance
                    </a>
                </li>
            </ul>
        </li>

        <li class="dropdown" sec:authorize="hasAuthority('Academic ADMIN')">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                Terms
            </a>
            <ul class="dropdown-menu">
                <li class="dropend nested-dropdown">
                    <a href="#" class="dropdown-toggle dropdown-item">
                        Move to Next Academic Year
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{#}">Add Academic Year</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Update Status Of Students</a></li>
                    </ul>
                </li>

                <li class="dropend nested-dropdown">
                    <a href="#" class="dropdown-toggle dropdown-item">
                        For New Term
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{#}">Add Term</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Add Term Electives</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Assign Faculty</a></li>
                        <li><a class="dropdown-item" th:href="@{#}">Specify Open For</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="dropdown" sec:authorize="hasAuthority('Academic ADMIN')">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                Registrations
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" th:href="@{#}">
                        Open Registration
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{#}">
                        Close Registration
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{#}">
                        Semester Registration
                    </a>
                </li>
            </ul>
        </li>

        <li class="dropdown" sec:authorize="hasAuthority('Academic ADMIN')">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                Reports
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" th:href="@{#}">
                        Approve Grade Modifications
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{#}">
                        More Reports
                    </a>
                </li>
            </ul>
        </li>

    </ul>

    <!-- ================= COMMON (RIGHT SIDE) ================= -->
    <ul class="nav-right">

        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/auth/change-password}">Change Password</a>
        </li>

        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post" style="display:inline;">
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}" />
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        </li>

    </ul>

</nav>

</html>
